# deepcode
.dccache

# nodejs
node_modules

# parceljs
.parcel-cache

# dotenv
.env
.env.*

# npm
package-lock.json

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# build output
dist

# bun
bun.lockb

# IDE
.vscode
.idea
*.swp
*.swo
